@CHARSET "UTF-8";

@media only screen and (max-width: 600px) {
    #header{
    font-family: 'Allerta Stencil', sans-serif;
	font-size: 18px;
	color: #729fcf;
    }
}
@media only screen and (min-width: 600px) {
	#header {
	font-family: 'Allerta Stencil', sans-serif;
	font-size: 52px;
	color: #729fcf;
	}
}

@media only screen and (max-width: 600px ) {
	#menu{
	display: none;
	}
}

h4,h5,p{
	font-family: 'Allerta Stencil', sans-serif;
	color: #729fcf;
}

#color-footer{
	background-color: #729fcf;
}

.recuadro{
	border: 1px solid #729fcf;
	padding: 2%;
}

#no-margin{
	margin: 0;
}

